@font-face {
 font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

div,h1 {
  font-family: 'Roboto Slab', serif;
}

body {
    background-color: #87D37C;
}

.center{
    text-align: center;
}
body{
    width: 100vw;
}
h2{
    text-align: right;
    font-size: 25px;
}

#panda{
    
    width: auto;
    height: 25vh;
    margin-left: 31vw;
    margin-top: 5vh;
    position: fixed;
}

#bambu{
    width: 7vw;
    height: auto;
    margin-left: 47vw;
    margin-top: 15vh;
}

#close
    margin-left: 87vw;
     margin-top: 0vh;
}

.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}
#close{
    margin-left: 85vw;
}
#close{
  color: red;
    background-color: transparent;
    border: 0px;
}

#contador{
    margin-right:10 vw;
  
    display: block;
    margin-top: -8vh;
}

h1{
    text-align: center;
    font-size: 30px;
}