@font-face {
 font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

div,h1 {
  font-family: 'Roboto Slab', serif;
}

body {
    background-color: #87D37C;
}
h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: right;
    font-size: 20px;
}
.center{
    text-align: center;
}
body{
    width: 100vw;
}

#panda{
    
     width: auto;
    height: 30vh;
    margin-left: -17vw;
    margin-top: 53.3vh;
    position: absolute;
}

#bambu{
     width: 15vw;
    height: auto;
    margin-left: 42vw;
    margin-top: 4.9vh;   
}


.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 85vw;
    color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    text-align: right;
    margin-left: 88.45vw;
    margin-top: 22.4vh;
    position: absolute;
}
