.center{
    text-align: center;
}
body{
    width: 100vw;
}

#panda{
    
    width: auto;
    height: 25vh;
    margin-left: -23vw;
    margin-top: 50vh;
    position: absolute;
}

#bambu{
    width: 7vw;
    height: auto;
    margin-left: 47vw;
  margin-top: 15vh;
    
}


.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 85vw;
    color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    text-align: right;
    margin-left: 23vw;
    margin-top: 50vh;
    position: absolute;
}
