.center{
    text-align: center;
}
body{
    width: 100vw;
}

#panda{
    
    width: auto;
    height: 25vh;
    margin-left: 31vw;
    margin-top: 50vh;
    position: fixed;
}

#bambu{
    width: 7vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 0vw;
    position: absolute;
}

#close
    margin-left: 87vw;
     margin-top: 0vh;
}

.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}
#close{
    margin-left: 85vw;
}
#close{
  color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    margin-right: 5vw;
    text-align: right;
    display: block;
    margin-top: 70vh;
}