
@font-face {
 font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

div,h1 {
  font-family: 'Roboto Slab', serif;
}

body {
    background-color: #87D37C;
}

.center{
    text-align: center;
}
body{
    width: 100vw;
}
h2{
    text-align: right;
    font-size: 20px;
}

#panda{
  width: auto;
    height: 30vh;
    margin-left: 40vw;
    margin-top: 53.3vh;   
    
}

#bambu{
    width: 15vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 0vw;
    position: absolute;
}


.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}
#close{
    margin-left: 85vw;
  color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
   margin-right:3vw;
    display: block;
    margin-top: -8vh;
}

h1{
    text-align: center;
    font-size: 30px;
}