.center{
    text-align: center;
}
body{
    width: 100vw;
}

h1{
    margin-top: 0vw;
    position: inline-block;
}

#panda{
   width: auto;
    height: 25vh;
    margin-left: 32vw;
    margin-top: 56.5vh;
}


#bambubaby{
   width: 1vw;
   height: auto;
   margin-left: -3.5vw;
   margin-top: -1.5vh; 
}

.modal-header{
    text-align: center;
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 5%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 87vw;
    color: red;
    border: black;
    background-color: transparent;
    border: 0px;
}

#contador{
    margin-right: 5vw;
    text-align: right;
    display: block;
    margin-top: -8vh;
}
