.center{
    text-align: center;
}
body{
    width: 100vw;
}

#panda{
    width: auto;
    height: 25vh;
    margin-left: 31vw;
    margin-top: 17vh;
}

.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 85vw;
    color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    margin-right: 5vw;
    text-align: right;
    display: block;
    margin-top: -15vh;
}


.draggableEscuro,
.draggableClaro {
	width: 120px;
	height: 120px;
	padding: 0px;
	margin: 0px;
	float: left;
    margin-left: auto;
    margin-right: auto;
    
    
}

#bambuEscuro1{
    width: 5vw;
    height: auto;
}


#bambuEscuro2{
    width: 5vw;
    height: auto;
  
}

#bambuEscuro3{
    width: 5vw;
    height: auto; 
  
}

#bambuEscuro4{
    width: 5vw;
    height: auto;     
    
}
#bambuEscuro5{
    width: 5vw;
    height: auto;
 
}
#bambuEscuro6{
    width: 5vw;
    height: auto; 
}

#bambuClaro1{
    width: 5vw;
    height: auto;
  
}

#bambuClaro2{
    width: 5vw;
    height: auto;

}
#bambuClaro3{
    width: 5vw;
    height: auto;
   

}
#bambuClaro4{
    width: 5vw;
    height: auto;

}

#bambuEscuroTarget {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	float: left;
    margin-left: 10vw;
	margin-right: 5vw;
}

#bambuClaroTarget {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	float: right;
     margin-right: 10vw;

}

#bambuEscuroTarget.ok {
	border: 2px solid olive;
}

#bambuClaroTarget.ok {
	border: 2px solid green;
}

