
@font-face {
 font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

div,h1 {
  font-family: 'Roboto Slab', serif;
}

body {
    background-color: #87D37C;
}

.center{
    text-align: center;
}
body{
    width: 100vw;
}
h2{
    text-align: right;
    font-size: 20px;
}

#panda{
  width: auto;
    height: 30vh;
    margin-left: 40vw;
    margin-top: 6.2vh;   
    
}

#repetir{
    margin-top: -138vh;
    margin-left: 5vw;
}
#bambu{
    width: 10vw;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15vh;
    display: inline;
}

#bambu2{
    width: 10vw;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15vh;
    display: inline;
}

#bambu3{
    width: 10vw;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15vh;
    display: inline;
}
#pandas{
    margin-left: 34vw;
   
}
#bambu{
    opacity: 0;
}
#bambu2{
    opacity: 0;
}
#bambu3{
    opacity: 0;
}

.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 85vw;
    color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    margin-right: 5vw;
    text-align: right;
    display: block;
    margin-top: -8vh;
}

h1{
    text-align: center;
    font-size: 30px;
}