.center{
    text-align: center;
}
body{
    width: 100vw;
}

#panda{
    
    width: auto;
    height: 25vh;
    margin-left: 31vw;
   
}

#bambu{
    opacity: 0;
    width: 7vw;
    height: auto;
    margin-left: 4vw;
    margin-top: 20vh;
    display: block;
}

#bambu:hover{
    opacity: 1;
}

.modal-header{
    text-align: center;
   
}

#pandaTriste{
    width: 20vw;
    height: auto;
    margin-left: 30%;
}

.modal-footer{
    text-align: center;
}

#close{
    margin-left: 85vw;
    color: red;
    background-color: transparent;
    border: 0px;
}
#contador{
    margin-right: 5vw;
    text-align: right;
    display: block;
    margin-top: -8vh;
}
